@model BlogH.Models.Blog
@{
    ViewData["Title"] = "Details";
}
<h2>
    @Model.BlogName
    <a asp-action="Edit" asp-route-id="@Model.BlogId"><i class="fas fa-pencil-alt" style="cursor: pointer; color: black; margin-right: 1rem;"></i></a>
</h2>
<div>
    <a asp-action="Create" asp-controller="Posts" asp-route-blogId="@Model.BlogId" class="btn btn-success">
        <div class="row mt-1">
            <div class="col-md-1">
                <i class="fas fa-plus"></i>
            </div>
            <div class="col-md-1">
                <p>New post</p>
            </div>
        </div>
    </a>
</div>
@if (Model.Posts.Count == 0)
{
    <h3>This blog is empty</h3>
}
<div class="container">
    <div class="row">
        <div class="col col-xs-12">
            <div class="blog-grids">
                @foreach (var post in Model.Posts)
                {
                    <partial name="~/Views/Posts/PostPartial.cshtml" model="@post"/>
                    @*@Html.Partial("~/Views/Posts/PostPartial.cshtml", post)*@
                }
            </div>
        </div>
    </div>
</div>
