@model IEnumerable<BlogH.Models.Blog>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Users Blogs"]</h2>

<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>

<div class="row">
    <div class="col col-xs-12">
        <div class="blog-grids">
            @foreach (var blog in Model)
            {
                <partial name="~/Views/Blogs/BlogPartial.cshtml" model="@blog" />
            }
        </div>
    </div>
</div>
