@model IEnumerable<BlogH.Models.Blog>

<h2>Users blogs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col col-xs-12">
        <div class="blog-grids">
            @foreach (var blog in Model)
            {
                <partial name="~/Views/Blogs/BlogPartial.cshtml" model="@blog" />
                @*@Html.Partial("~/Views/Posts/PostPartial.cshtml", post)*@
            }
        </div>
    </div>
</div>
